* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  font-size: 24px;
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.4);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 20px 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 99;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  grid-column: 2;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 4;
  color: #cdb389;
  /* width: 30%; */
}

.hamburger {
  display: none;
}

body {
  background: #cdb389;
  background-image: url("./img/41.svg");
  /* background-image: url("./img/4.svg"); */
}

.hero {
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  position: relative;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  position: absolute;
  top: 0;
}

.hero h2 {
  color: #cdb389;
  font-size: 40px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  transform: translateY(-50px);
  width: 50%;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: center;
}

.products-header {
  text-align: center;
  transform: translateY(150px);
  background: rgba(0, 0, 0, 0.733);
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  color: #cdb389;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 50px 0;
  grid-gap: 20px;
  place-items: center;
  padding: 0 20px;
  height: 100vh;
}
.cards img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  border-radius: 5px;
  color: white;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bitch {
  background: #f2f2f2;
  color: #3d3d3d;
  padding: 20px;
  height: 100%;
}

footer {
  display: flex;
  color: #f2f2f2;
  justify-content: center;
  align-items: center;
  background: #57605d;
  height: 100vh;
}

.contact-info {
  width: 45%;
  font-size: 1.5rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 40%;
}

/* .icon {
  margin-right: 25px;
} */

.location-info p {
  margin-bottom: 5px;
}

.form-wrapper {
  width: 40%;
}

.form-wrapper h1 {
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  /* background: white; */
  color: white;
  border-radius: 1%;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  /* padding: 10px; */
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: none;
}

label {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 180px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.checkbox input {
  width: 10%;
}

@media (max-width: 1354px) {
  .logo {
    grid-column: 1;
  }

  .nav {
    grid-column: 4/7;
  }
}

@media (max-width: 1024px) {
  .hero h2 {
    font-size: 36px;
    transform: translateY(-58px);
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 28px;
    width: 90%;
  }

  .hamburger {
    display: flex;
    grid-column: 7;
    align-items: center;
    font-size: 34px;
  }

  .nav {
    display: none;
  }
}
